<! DOCTYPE html >
<html>
 <head>
    <%= javascript_include_tag "turbo", type: "module" %>
 </head>

 <body>
  <%= render "home" %>
 <% if current_user %>
  <%= link_to "Sign-out", destroy_user_session_path, data: { turbo_method: :delete } %>
 <% else %>
  <% render "home" %>
  <% end %>

 </body>
</html>

