<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <% if user_signed_in? && current_user.role == "bussiness_account" &&  @restaurant.user_id == current_user.id %>
          <h2 class="title is-2">Update restaurant</h2>
          <%= render "form", restaurant: @restaurant %>
        <% else %>
          <p>You are not authorized to access this page.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>