<% @restaurants.each do |restaurant| %>
 <%= link_to restaurant do %>
    <h3><%= restaurant.name %></h3>
    <% if restaurant.image.present? %>
        <%= image_tag(restaurant.image, class: "image") %>
    <% end %>
 <% end %>
 <h2><%= restaurant.description %></h2>
 <hr />
<% end %>