<p>
    <strong>Dish:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>
  <p>
   <%= link_to "Destroy Dish", [item.restaurant, item],
    data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%= link_to "Update Dish",  edit_restaurant_item_path(@restaurant, item) %>
  </p>