<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
		<h2 class="title is-2">Add Food</h2>
        <%= render "form" , item: @item%>
      </div>
	</div>
  </div>
</section>
